# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [49]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [50]:
# Check
lesser_of_two_evens(2,4)

2

In [51]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [8]:
def animal_crackers(text):
    s1, s2 = text.split(' ')
    print(s1[0].upper() == s2[0].upper())

In [6]:
# Check
animal_crackers('Levelheaded Llama')

True

In [7]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [52]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [53]:
# Check
makes_twenty(20,10)

True

In [54]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [17]:
def old_macdonald(name):
    if len(name)>3:
        return name[:3].capitalize()+name[3:].capitalize()
    else:
        return'Name is too short!'

In [18]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [19]:
def almost_there(n):
    return (abs(100-n)<= 10) or (abs(200-n) <=10 )

In [20]:
# Check
almost_there(104)

True

In [21]:
# Check
almost_there(150)

False

In [22]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [59]:
def has_33(x):
    for i in range(len(x)-1):
        if x[i:i+2] == [3,3]:
            return True
    return False

In [60]:
# Check
has_33([1, 3, 3])

True

In [61]:
# Check
has_33([1, 3, 1, 3])

False

In [62]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [31]:
def paper_doll(text):
  lisp = list(text)
  out = []
  string = ''
  for i in range(len(lisp)):
    out.append(lisp[i])
    out.append(lisp[i])
  for i in range(len(out)):
    string += out[i]
  return string

In [32]:
# Check
paper_doll('Hello')

'HHeelllloo'

In [33]:
# Check
paper_doll('Mississippi')

'MMiissssiissssiippppii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [71]:
def blackjack(a,b,c):

    Ace_count = [a,b,c].count(11)

    total = sum([a,b,c])

    if total <= 21:
        return ( total)

    while total > 21:
        if Ace_count > 0:
            Ace_count -= 1
            total -= 10
        else:
            return "BUST"

    return ( total)

print(blackjack(11,11,11))

13

In [72]:
# Check
blackjack(5,6,7)

18

In [73]:
# Check
blackjack(9,9,9)

'BUST'

In [74]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [39]:
def summer_69(arr):
    list1 = arr
    summ = int()
    for i in range(0, len(arr)):
        if 6 in list1:
            listOfRange = range(list1.index(6), list1.index(9) + 1)
            for index in listOfRange:
                    print(listOfRange)
                    arr[index] = 0
            if 6 != arr[i]:
                summ += arr[i]
            else:
                continue
        else:
            summ += arr[i]
    return summ

In [40]:
# Check
summer_69([1, 3, 5])

9

In [41]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

range(2, 6)
range(2, 6)
range(2, 6)
range(2, 6)

9

In [42]:
# Check
summer_69([2, 1, 6, 9, 11])

range(2, 4)
range(2, 4)

14

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [92]:
def spy_game(nums):
    for i in range(0,len(nums)):
        if nums[i] == 0:
            for x in range(i+1,len(nums)):
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False

In [93]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [94]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [95]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [104]:
def count_primes(num):
    for n in range(2,num+1):
        prime=True
        for i in range(2,n):
            if(n%i == 0):
                prime=False
        if prime:
            print(n)

In [105]:
# Check
count_primes(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Great Job!